<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travel.dao.PublicEventRecordMapper">
  <resultMap id="BaseResultMap" type="com.travel.entity.PublicEventRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="event_type" jdbcType="INTEGER" property="eventType" />
    <result column="event_desc" jdbcType="VARCHAR" property="eventDesc" />
    <result column="created_tm" jdbcType="TIMESTAMP" property="createdTm" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, event_type, event_desc, created_tm
  </sql>
  <select id="selectByExample" parameterType="com.travel.entity.PublicEventRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from travel_public_event_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0">
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from travel_public_event_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from travel_public_event_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.travel.entity.PublicEventRecordExample">
    delete from travel_public_event_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.travel.entity.PublicEventRecord">
    insert into travel_public_event_record (id, event_type, event_desc, 
      created_tm)
    values (#{id,jdbcType=BIGINT}, #{eventType,jdbcType=INTEGER}, #{eventDesc,jdbcType=VARCHAR}, 
      #{createdTm,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.travel.entity.PublicEventRecord">
    insert into travel_public_event_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="eventType != null">
        event_type,
      </if>
      <if test="eventDesc != null">
        event_desc,
      </if>
      <if test="createdTm != null">
        created_tm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="eventType != null">
        #{eventType,jdbcType=INTEGER},
      </if>
      <if test="eventDesc != null">
        #{eventDesc,jdbcType=VARCHAR},
      </if>
      <if test="createdTm != null">
        #{createdTm,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.travel.entity.PublicEventRecordExample" resultType="java.lang.Long">
    select count(*) from travel_public_event_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update travel_public_event_record
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.eventType != null">
        event_type = #{record.eventType,jdbcType=INTEGER},
      </if>
      <if test="record.eventDesc != null">
        event_desc = #{record.eventDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTm != null">
        created_tm = #{record.createdTm,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update travel_public_event_record
    set id = #{record.id,jdbcType=BIGINT},
      event_type = #{record.eventType,jdbcType=INTEGER},
      event_desc = #{record.eventDesc,jdbcType=VARCHAR},
      created_tm = #{record.createdTm,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.travel.entity.PublicEventRecord">
    update travel_public_event_record
    <set>
      <if test="eventType != null">
        event_type = #{eventType,jdbcType=INTEGER},
      </if>
      <if test="eventDesc != null">
        event_desc = #{eventDesc,jdbcType=VARCHAR},
      </if>
      <if test="createdTm != null">
        created_tm = #{createdTm,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.travel.entity.PublicEventRecord">
    update travel_public_event_record
    set event_type = #{eventType,jdbcType=INTEGER},
      event_desc = #{eventDesc,jdbcType=VARCHAR},
      created_tm = #{createdTm,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>